@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
    font-family: 'MusticaPro';
    src: url('../assets/fonts/MusticaPro-SemiBold.woff2') format('opentype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'nanami-pro';
    src: url('../assets/fonts/Nanami-Rounded-Pro-Bold.woff2') format('opentype');
}

:root {
  --bg-black: rgba(15, 15, 15, 1.0);
  --bg-dark: rgba(15, 15, 15, 1.0);
  --bg-light: rgba(245, 245, 245, 1);
  --bg-medium-dark: rgba(85, 85, 85, 1);
  --bg-medium-light: rgba(221, 220, 220, 1);
  --bg-white: rgba(255, 255, 255, 1);
  --text-light: rgba(255, 255, 255, 1);
  --text-medium-light: rgba(221, 220, 220, 1);
  --text-medium-dark: rgba(85, 85, 85, 1);
  --text-dark: rgba(18, 18, 18, 1);
  --font-primary: 'nanami-pro', sans-serif;
  --font-secondary: 'MusticaPro', sans-serif;
  --font-terciary: "Source Sans 3", sans-serif;
  --transition-smooth: 0.6s cubic-bezier(0.25, 1, 0.5, 1); /* Curva suave de animação */

  /* Cores da Seção Editorial */
  --editorial-bg-light: #f4f4f4; /* Aquele cinza/bege bem claro de apoio */
  --editorial-bg-dark: #111111;  /* O preto do fundo na transição */
  --editorial-text-light: #333333;
  --editorial-text-dark: #ffffff;
  
  --editorial-transition: background-color 0.8s cubic-bezier(0.4, 0, 0.2, 1), color 0.8s ease;
}


